!!!
%html
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bolsa Pública
    %meta{:charset => "utf-8"}/    
    %link{:href => "assets/css/estilos.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet"}/
  %body
    .col.l12
      .cintillo
        %img{:src => "assets/img/cintillo.jpg"}/
    .navbar-fixed
      %nav
        .nav-wrapper.white
          %a.brand-logo{:href => "/index"}
            %img{:src => "assets/img/logo.png"}/
          %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
            %i.material-icons.grey-text.text-darken-4 menu
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.white-text{:href => "/contacto"} Contacto
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.darken-3.white-text{:href => "/estadisticas"} Estadísticas
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.darken-4.white-text{:href => "/tarifas"} Tarifas
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.grey.darken-3.white-text{:href => "/quienessomos"} Quiénes Somos
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.grey.darken-4.white-text{:href => "/index"} Inicio
          %ul#mobile-demo.side-nav
            %li
              %a{:href => "/index"} Inicio
            %li
              %a{:href => "/quienessomos"} Quiénes Somos
            %li
              %a{:href => "/tarifas"} Tarifas
            %li
              %a{:href => "/estadisticas"} Estadísticas
            %li
              %a{:href => "/contacto"} Contacto
    .container.anidada
      .row
        .col.s12.m10.offset-m1
          %h5 Tarifas de inscripción y colocación de títulos valores
          %p.justificar La Bolsa Pública de Valores Bicentenaria (BPVB), informa las nuevas tarifas de inscripción y colocación de Títulos Valores, prestando como siempre un servicio eficaz y con las mejores tarifas del mercado.
        .col.s12.m10.offset-m1.col.s12.hide-on-med-and-down
          %table.responsive-table.tablaMargen
            %thead
              %tr.red.darken-4
                %th.white-text.center-align.izquierda Descripción de la Comisión
                %th.white-text.center-align.izquierda Detalles
                %th.white-text.center-align.izquierda Tarifa
            %tbody
              %tr.izquierda
                %td.izquierda Inscripción de Títulos Valores
                %td.izquierda Las tarifas se aplican sobre el monto de la emisión aprobada por la Superintendencia Nacional de Valores (SNV)
                %td 0,05%
              %tr.izquierda
                %td.izquierda Colocación de Títulos Valores
                %td.izquierda Las tarifas se aplican sobre los Títulos Valores totalmente colocados
                %td.izquierda 1,00%
        .col.s12.hide-on-large-only
          %ul.collection
            %li.collection-item.red.darken-4.white-text.center.align
              %b Descripción de la Comisión
            %li.collection-item.center.align Inscripción de Títulos Valores
            %li.collection-item.red.darken-4.white-text.center.align
              %b Detalles
            %li.collection-item.center.align Las tarifas se aplican sobre el monto de la emisión aprobada por la Superintendencia Nacional de Valores (SNV)
            %li.collection-item.red.darken-4.white-text.center.align
              %b Tarifa
            %li.collection-item.center.align 0,05%
          %ul.collection
            %li.collection-item.red.darken-4.white-text.center.align
              %b Descripción de la Comisión
            %li.collection-item.center.align Colocación de Títulos Valores
            %li.collection-item.red.darken-4.white-text.center.align
              %b Detalles
            %li.collection-item.center.align Las tarifas se aplican sobre los títulos valores totalmente colocados
            %li.collection-item.red.darken-4.white-text.center.align
              %b Tarifa
            %li.collection-item.center.align 1,00%
        .col.s12.m10.offset-m1.cambio.justificar
          %h5 Tarifas por Servicio de Mantenimiento de Custodia Mensual
        .col.s12.m10.offset-m1.col.s12.hide-on-med-and-down
          %table.responsive-table.tablaMargen
            %thead
              %tr.red.darken-4.izquierda
                %th.white-text.izquierda.center-align Descripción de la Comisión
                %th.white-text.izquierda.center-align Detalles
                %th.white-text.izquierda.center-align Tarifa
            %tbody
              %tr.izquierda
                %td.izquierda{:rowspan => "2"} Persona Natural y Jurídica
                %td.izquierda Menos de Bs. 50.000
                %td.izquierda Exonerado
              %tr.izquierda
                %td.izquierda A partir de Bs. 50.001
                %td.izquierda 0,05% s/Valor Nominal Bs (Mínimo 2UT)
        .col.s12.hide-on-large-only
          %ul.collection
            %li.collection-item.red.darken-4.white-text.center.align
              %b Descripción de la Comisión
            %li.collection-item.center.align Persona Natural y Jurídica
            %li.collection-item.red.darken-4.white-text.center.align
              %b Detalles / Tarifas
            %li.collection-item.center.align
              Menos de 50.000 / Exonerado
              %br/
              A partir de 50.001 / 0,05% s/Valor Nominal Bs. (Mínimo 2 UT)
        .col.s12.m10.offset-m1
          %p.justificar El cálculo del mantenimiento de Custodia mensual se realizara sobre la posición total de Títulos Valores que mantenga el inversionista al cierre de mes, asimismo la fórmula que se aplicará es: Valor Nominal Bs. * 0,05% / 360 * 30.
          %p.justificar La factura se emitirá dentro de los 5 primeros días hábiles del mes siguiente.
          %p.justificar Si el resultado del cálculo es menor a 2 Unidades Tributarias (UT), se cobrará como mínimo 2 UT.
          %p.justificar Los Valores Nominales de los títulos en moneda extranjera, serán convertidos en Bolívares a la tasa de cambio oficial establecida.
        .col.s12.m10.offset-m1.cambio.justificar
          %h5 Tarifa Traspaso de Títulos Valores
        .col.s12.m10.offset-m1.col.s12.hide-on-med-and-down
          %table.responsive-table.tablaMargen
            %thead
              %tr.red.darken-4.izquierda
                %th.white-text.izquierda.center-align Descripción de la Comisión
                %th.white-text.izquierda.center-align Detalles
                %th.white-text.izquierda.center-align Tarifa
            %tbody
              %tr.izquierda
                %td.izquierda Persona Natural y Jurídica
                %td.izquierda Traspaso por cada Título Valor a otra institución financiera
                %td.izquierda 0,01% s/ Valor Nominal (Mínimo 2 UT)
        .col.s12.hide-on-large-only
          %ul.collection
            %li.collection-item.red.darken-4.white-text.center.align
              %b Descripción de la Comisión
            %li.collection-item.center.align Persona Natural y Jurídica
            %li.collection-item.red.darken-4.white-text.center.align
              %b Detalles
            %li.collection-item.center.align
              Traspaso por cada Título Valor a otra institución financiera
            %li.collection-item.red.darken-4.white-text.center.align
              %b Tarifa
            %li.collection-item.center.align
              0,01% s/ Valor Nominal (Mínimo 2 UT)
        .col.s12.m10.offset-m1
          %p.justificar El monto a cobrar se aplicará una vez que el inversionista imparta la orden de transferir sus títulos desde la BPVB a otra institución financiera, debiendo efectuar el pago por tal concepto antes de realizar el traspaso.
          %p.justificar Si el resultado del cálculo es menor a 2 Unidades Tributarias (UT), se cobrará como mínimo 2 UT.
          %h5 Formas de Pago
          %p.justificar Solo se aceptan transferencias electrónicas, depósitos o cheques de cuentas del inversor registrada en la BPVB.
    %footer.page-footer
      .container
        .row
          .col.s12.m6
            %h5.white-text Bolsa Pública de Valores Bicentenaria
            %p.grey-text.text-lighten-4
              Av. Francisco de Miranda, Edificio Torre Europa, Nivel C,
              %br/
              Urb. El Rosal, Municipio Chacao, Estado Miranda. Zona Postal 1060.
              %br/
              %b Horario de atención al público:
              De 8:00 a.m. a 4:30 p.m.
              %br/
              %b Teléfono:
              0212-9558800.
            %br/
            %ul.social
              %li
                %h6 Redes Sociales:
                %br/
              %li
                %a.icon-facebook.img-circle{:href => "https://www.facebook.com/Bolsa-Publica-de-Valores-Bicentenaria-470631792952689/?fref=ts", :target => "_blank"}
                %a.icon-twitter.img-circle{:href => "https://twitter.com/Bolsa_Publica", :target => "_blank"}
                %a.icon-instagram.img-circle{:href => "https://www.instagram.com/bolsa_publica/", :target => "_blank"}
          .col.l4.offset-l2.s12
            %h5.white-text Menú
            %ul
              %li
                %a.grey-text.text-lighten-3{:href => "/documents/LCFT.pdf", :target => "blank"} Prevención y Control de Legitimación de Capitales y Financiamiento al Terrorismo
              %li
                %a.grey-text.text-lighten-3{:href => "/atencion"} Oficina de Atención al Ciudadano
              %li
                %a.grey-text.text-lighten-3{:href => "/marcolegal"} Marco Jurídico
              %li
                %a.grey-text.text-lighten-3{:href => "http://www.sunaval.gob.ve/snv/site/glosario_terminos.php"} Glosario de términos
              %li
                %a.grey-text.text-lighten-3{:href => "/concurso"} Concurso Público para Ingreso de Personal
              %li
                %a.grey-text.text-lighten-3{:href => "/contrataciones"} Contrataciones Públicas
              %h5.white-text Enlaces de interés
              %ul
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.mppef.gob.ve", :target => "blank"} Ministerio del Poder Popular de Economía y Finanzas
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.sunaval.gob.ve", :target => "blank"} Superintendencia Nacional de Valores  
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.bcv.org.ve", :target => "blank"} Banco Central de Venezuela                                
      .footer-copyright
        .container
          © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/materialize.min.js", :type => "text/javascript"}
    :javascript
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      })

      $(document).ready(function(){
          $('.slider').slider();
        });
